.idea/dataSources.local.xml
.idea/workspace.xml
.idea/dictionaries
articles/__init__.pyc
articles/__pycache__/
articles/admin.pyc
articles/migrations/__pycache__/
articles/models.pyc
b111/__init__.pyc
b111/__pycache__/
b111/settings.pyc
media/
templates/
legacy/__pycache__/
legacy/migrations/__pycache__/
