body {
    font-size: 16px;
    line-height: 1.625;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #444444;
}

a {
    text-decoration: underline;
    color: #2F71A2;
}
a:hover {
    color:red;
}

.main-content {
    border-top: 1px solid #dddddd;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 2.2em;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
    font-weight: bold;
}

.left-sidebar {
    width: 380px;
    margin-top: 20px;
}

/*main content blocks*/
.cnt-img {
    margin-bottom:15px;
}

#cnt-ad1 {
    margin: 15px 0 15px 0;
}

/*left column blocks*/
#logo {
    padding: 0 0 20px 0;
}

.date {
    font-size: 15px;
}