{% extends "articles/basic.html" %}
{% block title %}
    {{ category.name }}
{% endblock %}
{% block content %}
    <h1>{{ category.name }}</h1>
    {% for article in articles %}
        <h2><a href="{% url 'article-view' article.slug %}" class="title-link">{{ article.title }}</a></h2>
        <p>{{ article.creation_date|date:"l, d F" }}</p>
        {% if article.teaser_image %}
            <img width="50%" height="50%" src="{{ article.teaser_image.url }}"/>
            <p>{{ article.teaser_image.height_field }}</p>
        {% endif %}
        {{ article.preview_text|safe }}<a href="{% url 'article-view' article.slug %}">(далее...)</a>
    {% endfor %}
        {% if page_obj.has_previous %}
            <p>
            <a href="{% url 'category' category.slug page_obj.previous_page_number %}">previous</a>
        {% endif %}
    <span class="page-current">

                       Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    {% if page_obj.has_next %}
        <a href="{% url 'category' category.slug page_obj.next_page_number %}">next</a>
    {% endif %}
    </p>
        <p>Paginator нужно переделать</p>
{% endblock %}

